@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --page-color-main: #0a4808;
    /* --page-color-secondary: #707070; */
    --font-color-main: #fff;
    --hover-color: #f9f8f5;    
}

body{
    background-image: url(../img/body-background.jpg);
    background-size: cover;

    background-color:#eee;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}
/* Generale styles */

h1{
    text-align: center;
}

/* NavBar */
header nav.navbar{
    background-color: var(--page-color-main);
    background: linear-gradient(180deg, rgb(12, 57, 1) 12%, rgb(30, 91, 13) 43%, rgb(59, 116, 33) 89%);

}

a.navbar-brand{
    font-size: 3rem;
    line-height: 15px;
    font-family: "Poppins", sans-serif;
}

a.navbar-brand, div.navbar-nav a.nav-link{
    transition: 0.5s;
    color: var(--font-color-main);
}

a.navbar-brand:hover, div.navbar-nav a.nav-link:hover{
    color: var(--hover-color);
    filter: drop-shadow(0px 0px 6px #c6f795);
}

button.navbar-toggler{
    color: var(--font-color-main);
    border: var(--font-color-main) solid 1px;
}

/* Input */

/* Main */

@media (min-width: 992px) {
    #navbarNavAltMarkup{
        display: flex;
        justify-content: flex-end;
    }
}





/* Style of search bar */

.height{
    height: 100vh;
}

.search{
position: relative;
box-shadow: 0 0 40px rgba(51, 51, 51, .1);
}

.search input{
height: 60px;
text-indent: 25px;
border: 2px solid #d6d4d4;
}


.search input:focus{
box-shadow: none;
border: 2px solid #258232;
}

.search .fa-search{
position: absolute;
top: 20px;
left: 16px;

}

.search button{
position: absolute;
top: 5px;
right: 5px;
height: 50px;
width: 110px;
/* background: #258232;
border-color: #258232; */
background-color: var(--page-color-main);
background: linear-gradient(180deg, rgb(12, 57, 1) 12%, rgb(30, 91, 13) 43%, rgb(59, 116, 33) 89%);
}

.search button span:hover{
    filter: drop-shadow(0px 0px 6px #c6f795);
}
