@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --page-color-main: #0a4808;
    --page-color-secondary: #e2791e;
    --font-color-main: #fff;
    --hover-color: #f9f8f5;    
}

/* Generale styles */
body{
    /* background: url(../img/body-background.jpg), #000;
    background-size: contain;
    background-repeat: no-repeat; */
    font-weight: 300;
}

h1{
    text-align: center;
}

/* NavBar */
header nav.navbar{
    background-color: var(--page-color-main);
    /* background: linear-gradient(180deg, #0c3901 12%, rgb(30, 91, 13) 43%, #3b7421 89%); */
    background: linear-gradient(to bottom, #3b7421 5%, #0c3901 100%);
}

a.navbar-brand{
    font-size: 3rem;
    line-height: 15px;
    font-family: "Poppins", sans-serif;
}

a.navbar-brand, div.navbar-nav a.nav-link{
    transition: 0.5s;
    color: var(--font-color-main);
}

a.navbar-brand:hover, div.navbar-nav a.nav-link:hover{
    color: var(--hover-color);
    filter: drop-shadow(0px 0px 6px #c6f795);
}

button.navbar-toggler{
    color: var(--font-color-main);
    border: var(--font-color-main) solid 1px;
}

/* Main */
div.backgroundImage {
    background-image: linear-gradient(
            to bottom,
            transparent,
            black),
        url(../img/body-background.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
}

/* MyRecipe button */
main div.container-fluid div.row div a.myRecipe {
    height: 50px;
    width: 220px;
	background: linear-gradient(to bottom, #ffaf64 5%, #ff6123 100%);
	background-color: #fa791d;
	border-radius: 6px;
	border: 1px solid #ee6e0b;
	display: inline-block;
	cursor: pointer;
	color: #fff;
	font-family: "Poppins", sans-serif;
	font-size: 1.3rem;
	padding: 10px 24px;
	text-decoration: none;
    box-shadow: inset 0px 5px 10px 0px rgba(227, 100, 32, 0.5);
}

main div.container-fluid div.row div a.myRecipe:hover {
    transform: scale(1.03);
    box-shadow: 0px 10px 20px 2px rgba(56, 51, 49, 0.25);
	/* background: linear-gradient(to bottom, #ff6123 5%, #ffaf64 100%);
	background-color: #ff6123;
    color: #fff; */
}

main div.container-fluid div.row div a.myRecipe:active {
    background: linear-gradient(to bottom, #ff6123 5%, #ffaf64 100%);
	background-color: #ff6123;
    color: #fff;
	position: relative;
	top: 1px;
}


/* Style of search bar */

.height{
    min-height: 80vh;
}

.search{
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
}

.search input{
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;
}


.search input:focus{
    box-shadow: none;
    border: 2px solid #258232;
}

.search .fa-search{
    position: absolute;
    top: 20px;
    left: 16px;
}

.search button{
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    /* background: #258232;
    border-color: #258232; */
    background-color: var(--page-color-main);
    background: linear-gradient(to bottom, #3b7421 5%, #0c3901 100%);
    /* background: linear-gradient(180deg, rgb(12, 57, 1) 12%, rgb(30, 91, 13) 43%, rgb(59, 116, 33) 89%); */
    font-family: "Poppins", sans-serif;
    box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.search button:hover{
    transform: scale(1.03);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.search button:active{
    background: linear-gradient(to bottom, #0c3901 5%, #3b7421 100%);
}

/* Cards */
div.cards {
    background-color: black;
    color: white;
    padding-bottom: 20px;
}

/* Footer */
footer {
    background: linear-gradient(to bottom, #1c3710 5%, #061b01 100%);
}

/* Media queries */
@media (min-width: 992px) {
    #navbarNavAltMarkup{
        display: flex;
        justify-content: flex-end;
    }
}

@media (max-width: 465px) {
    main div.container-fluid div.row div a.myRecipe {
        width: 95%;
    }
}
